@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

#app {
  display: flex;
  height: 100vh;
  background-color: var(--colors-surface-a);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.container.close {
  gap: 0.5rem;
}

.container.col {
  flex-direction: column;
}

.container.scroll {
  overflow-y: auto;
}

.container.v-align {
  align-items: center;
  margin-bottom: 1rem;
}

.left {
  padding: 1rem;
  overflow-y: auto;
  flex: 1 0 0;
  min-width: 320px;
  max-width: 400px;
}

.right {
  padding: 1rem;
  overflow-y: auto;
  flex: 1 0 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

button {
  font-family: 'Spline Sans Mono', monospace;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

button.primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

button.primary:hover {
  background-color: var(--color-primary-hover);
}

button.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-on-secondary);
}

button.secondary:hover {
  background-color: var(--color-secondary-hover);
}

button.destructive {
  background-color: var(--color-destructive);
  color: var(--color-text-on-destructive);
}

button.destructive:hover {
  background-color: var(--color-destructive-hover);
}

button.chip {
  font-family: 'Spline Sans';
  background-color: transparent;
  color: var(--color-text-on-secondary);
  border: 1px solid var(--colors-border-light);
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  font-size: 0.825rem;
  border-radius: 3rem;
}

button.chip:hover {
  background-color: var(--bunker-100);
}

button.chip.active {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

button.icon {
  width: 2.5rem;
  padding: 0.5rem;
}

button.icon-left {
  padding-left: 0.5rem
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
